<div class="mt-4">
    <form method="GET" action="/news">
        <div class="mb-3 mt-3">
            <label class="pb-4" for="search-input">Search key...</label>
            <input type="text" name="q" class="form-control" id="email" placeholder="nhap tu khoa...">
        </div>

        <button type="submit" class="btn btn-primary">SEARCH...</button>
    </form>
</div>